@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.contact {

  &__wrap {
    background-color: $primary-pink;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    border-radius: 1.5rem;
    align-self: stretch;
  }
  
  &__article {
    display: flex;
    justify-content: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 1rem;
    background: $white;
    box-shadow: 0 4px 4px #00000040;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 0.5rem;

  }

  &__title {
    text-align: center;
    text-decoration: underline $primary-pink;
    font-size: 2rem;
    margin-bottom: 0;  }
}
