@font-face {
    font-family: "Niramit";
    src: url("../../assets/fonts/Niramit-Regular.ttf") format("opentype"),
      format("truetype");
    font-weight: 400;
  }
  

  
  * {
    font-family: "Niramit", sans-serif;
  }
  