
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$wrapper-max-width: 1140px;

$desktop-padding: 2rem;

$desktop-padding-3rem: 3rem;

$box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);

$border-radius: 10px;

$logo-height: 2.5rem;

$mobile-padding: 1rem;


//colours

$white: #ffffff;
$navy: #122c71;
$background-pink: #F3CEEB;
$black: #11010E;
$primary-pink: #EE29B9;
$secondary: #F4817B;
$accent: #EF5C6D;
