@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.main {
  background-color: $white;
  padding: $mobile-padding;
  color: $black;
  text-align: center;


  &__title {
    font-size: 2.7rem;
    margin-bottom: 0rem;
    margin-top: 3rem;
  }


  &__accent {
    color: $primary-pink;
  }

  &__job-main {
    margin-top: 0.8rem;
    margin-bottom: 0rem;
    text-decoration: underline $primary-pink;
    text-decoration-thickness: 0.2rem;
    font-size: 2rem;

  }

  &__and {
    margin: 0;
  }

  &__job-secondary {
    margin-top: 0rem;
    margin-bottom: 2rem;

  }

  &__emoji {
    font-size: 7rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
